.menu {
  padding-top: 20px;
}
.menu__list {
  display: flex;
  overflow-y: hidden;
  gap: 10px;
  background-color: transparent;
}
.menu__link {
  display: flex;
  align-items: center;
  gap: 5px;
}
.menu__item {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--white);
  border-radius: 6px;
  width: fit-content;
  padding: 5px 10px 5px 15px;
  height: 40px;
}

.menu__path {
  fill: #ff7010;
  transition: fill 0.4s ease-in-out;
}
.menu__text {
  color: black;
  transition: color 0.5s ease-in-out;
}
.menu__text::first-letter {
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .menu__item {
    flex-direction: column;

    padding: 0 40px;
    height: 105px;
  }
  .menu__list {
    gap: 15px;
    justify-content: center;
  }
  .menu__link {
    flex-direction: column;
    align-items: center;
  }
}
