.dropdown__btn {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 10px 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
  border-radius: 5px;
  font-size: var(--text-size-m);
  border: #fff 2px solid;
}
.toggle__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}
.toggle__icon_active {
  transform: rotate(180deg);
}
.dropdown__btn_active {
  border: rgba(147, 197, 253) 2px solid;
}
