.nav__top {
  display: flex;
  padding: 10px 0;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--line);
  border-bottom: 1px solid var(--line);
}
.nav__time {
  font-size: var(--text-size-s);
}
.nav__text_bold {
  font-weight: 600;
}
.nav__top_right {
  font-size: var(--text-size-s);
}
.nav__time_open {
  display: none;
}
.nav__sign {
  font-size: 0;
  padding: 15px 0 30px 10px;
  position: relative;
  padding: 5px;
}
.nav__sign::after {
  content: "";
  position: absolute;

  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  top: -10px;
  left: -10px;
  background-image: url(../../../static/icons/signIn.svg);
}
