.nav1 {
  position: relative;
}
.nav {
  width: 100%;
}
.nav__line {
  display: block;
  font-size: 0;
  width: 100%;
  height: 1px;
  background-color: var(--line);
}
/* top part */
.nav__top {
  display: flex;
  padding: 10px 0;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--line);
}
.nav__time {
  font-size: var(--text-size-s);
}
.nav__text_bold {
  font-weight: 600;
}
.nav__top_right {
  font-size: var(--text-size-s);
}
.nav__time_open {
  display: none;
}
.nav__sign {
  font-size: 0;
  padding: 15px 0 30px 10px;
  position: relative;
  padding: 5px;
}
.nav__sign::after {
  content: "";
  position: absolute;

  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  top: -10px;
  left: -10px;
  background-image: url(../../../static/icons/signIn.svg);
}
/* down part  */
.nav__down {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav__text_logo {
  font-size: var(--text-size-s);
}

.nav__pirce {
  color: var(--white);
  display: none;
}
/* fixed cart */
.nav__cart {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 20px;
  background-color: var(--primary);
  padding: 16px;
  border-radius: 30px;
  z-index: 9;
}
.nav__cart_count {
  position: absolute;
  top: -5px;
  right: -1px;
  background-color: var(--white);
  border: 1px var(--primary) solid;
  color: var(--primary);
  border-radius: 50%;
  padding: 4px;
  font-size: 12px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* burger  */

@media screen and (min-width: 768px) {
  .nav__cart_fixed {
    display: none;
  }
  .nav__cart_count {
    display: none;
  }

  .nav__top_right {
    display: flex;
    align-items: center;
    gap: 75px;
  }
  .nav__time_open {
    display: block;
  }
  .nav__text_logo {
    font-size: var(--text-size-m);
  }
  .nav__pirce {
    display: inline;
  }
  .nav__cart {
    margin: 0;
    display: flex;
    position: static;
    border-radius: 4px;
    gap: 10px;
    padding: 8px 16px 8px 16px;
  }
}
