.dropdown__content {
  position: absolute;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-top: 10px;
  z-index: 3;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  max-height: 40dvh;
  overflow-y: scroll;
  scrollbar-width: none;
  font-size: var(--text-size-m);
  -ms-overflow-style: none;
  opacity: 0;
  transform: translateY(-5%);
  transition: transform 150ms ease-in-out, opacity 100ms ease-in-out;
  pointer-events: none;
}
.dropdown__content::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.dropdown__content_active {
  pointer-events: all;
  opacity: 1;
  transform: translateY(0);
}
