.nav__social {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0 calc(20px + 3vh) 0;
  border-bottom: 1px solid var(--line);
}

.nav__social_item {
  display: flex;
  gap: 10px;
}

.nav__social_item:last-child {
  gap: 25px;
}

.nav__social_wrraper {
  display: flex;
  gap: 10px;
}

@media screen and (min-height: 768px) {
  .nav__social {
    height: 30%;
    justify-content: space-around;
  }
}
