.admin__interect {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  margin-bottom: 30px;
}
.admin__item {
  padding: 10px 15px;
  border-radius: 8px;
  background-color: #c1fff0;
}
