.cart__container {
  padding-top: 10vh;
  width: 100%;
  height: 100vh;
  position: relative;
}

.cart__content {
  position: absolute;
  top: 100%;
  padding: 15px 20px 0 20px;
  height: 90vh;
  width: 100vw;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.55s ease-in;
}
.cart__close {
  display: none;
}
.cart__list {
  display: flex;
  flex-direction: column;
  height: 85%;
  justify-content: space-between;
  overflow-y: scroll;
  gap: 10px;
  padding: 20px 0;
}
.cart__item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  border: 1px solid rgb(240, 240, 240);
  border-radius: 12px;
  padding: 10px;
  background: rgb(255, 255, 255);
}
.cart__item_right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.cart__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart__item_title {
  font-weight: 600;
}

.cart__btn {
  display: flex;
  align-items: center;
  background-color: var(--light-primary);
  font-size: var(--text-size-m);
  color: var(--primary);
  border-radius: 5px;
  padding: 10px;
  gap: 10px;
}
.cart__count {
  font-size: var(--text-size-ml);
  color: var(--primary);
}
.cart__price {
  color: var(--primary);
}
.cart__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  border-top: 1px solid var(--line);
  border-bottom: 1px solid var(--line);
}
.cart__totalsum {
  font-size: 18px;
  font-weight: 600;
  color: var(--primary);
}
.cart__confirm {
  font-size: 14px;
  padding: 15px;
  border-radius: 6px;
  background-color: var(--primary);
  color: var(--white);
}
/* animation */
.cart__content.active {
  transition: 0.55s ease-in;
  transform: translateY(-100%);
}
@media screen and (min-width: 768px) {
  .cart__container {
    display: flex;
    justify-content: flex-end;
    padding-top: 0;
  }
  .cart__content {
    top: 0;
    right: -420px;
    height: 100vh;
    width: 420px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .cart__inner {
    display: flex;
    justify-content: space-between;
  }
  .cart__close {
    display: block;
  }
  .cart__content.active {
    transition: transform 0.45s ease-in;
    transform: translateX(-420px);
  }
}
